<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Prices</title>
  </head>
  <body>
    <h1>Crypto Prices</h1>
    <table>
      <thead>
        <tr>
          <th>Exchange</th>
          <th>Coin</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for exchange, coin, price in prices %}
        <tr>
          <td>{{ exchange }}</td>
          <td>{{ coin }}</td>
          <td>{{ price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
