<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto Prices</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Exchange</th>
          <th>Coin</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for exchange in exchanges %}
          <tr>
            <td>{{ exchange["name"] }}</td>
            <td>BTC/USD</td>
            <td>{{ exchange["price"] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
